.current__container {
    @extend %section__container;

    position: relative;
    transform: translateZ(0px);
    background: white;
}

.current__container:before {
    position: absolute;
    content: '';
    top: -60px;
    left: 50%;
    height: 100px;
    width: 5px;
    background: $color-yellow;
}


