.current__container {
    position: relative;
    padding: 4em 20%;
    transform: translateZ(0px);
    background: white;
}

.current__container:before {
    position: absolute;
    content: '';
    top: -60px;
    left: 50%;
    height: 100px;
    width: 5px;
    background: $color-yellow;
}

.current__container-title {
    text-align: center;
    font-size: 60px;
}

.current__container-text {
    font-size: 24px;
}


