.hero {

    &__container {
        width: 100%;
        height: 100vh;
        text-align: center;
        position: sticky;
    }

    &__image-container {
        transform: translateZ(-1px) scale(2);
    }
}

.hero__headline {
    text-align: center;
}

.hero__image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.hero__title {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
    font-size: 4em;
    color: $color-yellow;

    @include mq_gte_medium {
        display: none;
    }
}
