.image-section {
    @extend %main__background--grey;
    transform: translateZ(0px);
}

.image-section__container {
    
    @include mq_gte_medium {
        padding: 5em;
    }
}

.image-section__image {
    width: 100%;
    object-fit: contain;
    box-shadow: 15px 15px 0 $color-yellow;
}