.image-section {
    @extend %main__background--grey;

}

.image-section__container {
    margin: 0 5em;
    padding: 5em;
}

.image-section__image {
    width: 100%;
    object-fit: contain;
    box-shadow: 15px 15px 0 $color-yellow;
}