body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
  }
  
h1, h2 {
    font-family: 'Playfair Display', serif;
  }

a {
  color: $color-black;
}

.main__data-span {
    display: block;
    margin: 20px; 
}

.main__container {
  margin: 0 auto;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;

  &--grey {
    background: $color-grey;
  }
}

%main__background {
  &--grey {background: $color-grey};
}