.header {
    
    &__nav-burger {
        position: fixed;
        left: 0;
        margin: 1em;
        padding: 1em;
        cursor: pointer;
        z-index: 10;

        & span:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 4px;
            background: $color-yellow;
            transform: rotate(0);
            transition: all 200ms ease;


        }
        & span:nth-child(2) {
            position: absolute;
            top: 10px;
            left: 0;
            width: 30px;
            height: 4px;
            background: $color-yellow;
            transition: all 200ms ease;

        }
        & span:nth-child(3) {
            position: absolute;
            top: 20px;
            left: 0;
            width: 30px;
            height: 4px;
            background: $color-yellow;
            transform: rotate(0);
            transition: all 200ms ease;


        }

        &--active {
            // Kanske ha denna. Om en vill att krysset ska hänga med.
            // left: 40%;

            & span:nth-child(1) {
                position: absolute;
                top: -1px;
                left: 1px;
                width: 32px;
                height: 4px;
                background: $color-black;
                transform-origin: left;
                transform: rotate(45deg);
            }
            & span:nth-child(2) {
                position: absolute;
                top: 10px;
                left: 0;
                width: 0px;
                height: 4px;
                background: $color-black;
            }
            & span:nth-child(3) {
                position: absolute;
                top: 22px;
                left: 1px;
                width: 32px;
                height: 4px;
                background: $color-black;
                transform-origin: left;
                transform: rotate(-45deg);
            }
        }
    }
    
    &__nav-modal {
        position: fixed;
        left: -50%;
        width: 50%;
        height: 100%;
        background: yellow;
        text-align: center;
        z-index: 5;
        transition: left 200ms ease;
        
        &--active {
            left: 0;
        }
    }
}

