%section__container {
    padding: 2em 1em;

    @include mq_gte_medium {
        padding: 4em 20%;
    }

    &--title {
        text-align: center;
        font-size: 3em;
    }

    &--text {
        font-size: 1.25em;

        @include mq_gte_medium {
            font-size: 1.5em;
        }
    }
  }

.section__container {
    @extend %section__container;
    
    &--title {
        @extend %section__container--title;
    }
    
    &--text {
        @extend %section__container--text;
    }
}

