%base-section {
    padding: 2em 1em;
    
    @include mq_gte_medium {
        padding: 4em 5em;
       
    }
    
    @include mq_gte_large {
        padding: 4em 5em;
       
    }

    &--title {
        text-align: center;
        font-size: 3em;
    }

    &--text {
        font-size: 1.25em;

        @include mq_gte_medium {
            font-size: 1.5em;
        }
    }
  }


.section__container {
    margin: 0 auto;
    width: 100%;

    @include mq_gte_medium {
        max-width: 450px;
    }

    @include mq_gte_large {
        max-width: 800px;
    }
    
    &--title {
        @extend %base-section--title;
    }
    
    &--text {
        @extend %base-section--text;
    }
}

